.btn{
	&,
	&:link,
	&:visited{
		width: 10rem;
		margin: 0 auto;
		background-color: transparent;
		text-transform: uppercase;
		text-decoration: none;
		padding: 1rem 2rem;
		transition: all .3s;
		border: 1px solid rgb(0,0,0);
		cursor: pointer;

		&:hover{
			transform: translateY(-3px);
			box-shadow: 0 1rem 2rem rgba(0,0,0,.2);

			&:after{
				transform: scaleX(1.4) scaleY(1.6);
				opacity: 0;
			}
		}

		&:active,
		&:focus{
			outline: none;
			transform: translateY(-1px);
			box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
		}
	}
}
.btn2{
	&,
	&:link,
	&:visited{
		padding: 0.5rem .2rem;
		background-color: transparent;
		color: #000;
		text-decoration: none;
		border: none;
		border-bottom: 1px solid #000;
		border-top-right-radius: 1rem;
		cursor: pointer;
		transition: all .6s;
	}

	&:hover{
		color: #777;
		background-color: #000;
	}
}